.left {
    border-radius: 20px 20px  20px 0;
}

.right {
    border-radius: 20px 20px 0 20px;
}

.headt{
    font-size: 12px;
}

.chats{
    font-size: 14px;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  /* removed class to useColorMode to toggle stroke for dark and light theme */
  /* stroke: black; */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.input {
    background: none;
    border: 1px solid #91a2b8 ;
    outline: none;
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px 60px 10px 20px ;
    font-size: 16px;
    border-radius: 15px;
    /* box-shadow: inset 2px 2px 10px #a86b48; */
    height: 60px;
}

  .input::placeholder{
    color: #91a2b8;
  }

  .textarea-container {
    position: relative;
  }
  
  .go {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px; 
    height: 30px; 
    margin-bottom: 20px;
    margin-right: 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .fixed-container {
    position: fixed;
    bottom: 0;
    width: 77%;
    /* background: #F7F1ED; */
    padding-bottom: 10px;
  }

  .search{
    z-index: 9999;
  }

  /* Mobile Phones */
  @media only screen and (max-width: 767px) {
    
    .fixed-container {
      width: 90%;
      margin-left: -11px;
    }
    .input{
      height: 50px;
    }
    .go{
      margin-bottom: 15px;
    }
    .loader {
      --dim: 1.4rem !important;
      margin-bottom: 20px !important;
    }
    .loader .circle {
      --dim: 0.6rem !important;
    }
  }

  /* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fixed-container {
    padding-bottom: 30px;
    width: 83%;

  }
}

/* body, html{
  overflow-y: hidden;
} */

#chartContainer{
  min-width: 100% !important;
}



.input-search {
  color: #fff;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.4em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  padding-right: 1.5em;
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.srch{
  position: absolute;
  right: 0;
  bottom: 75%;
  top: 25%;
}

.input-search:focus {
  outline: none;
}

.input-search:focus + .input-border {
  width: 100%;
}

.form-control {
  position: relative;
}

.input-border-alt {
  height: 1px;
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}


.cat-card {
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 5px;
  }
}






.loader {
  --dim: 1.7rem;
  width: var(--dim);
  height: var(--dim);
  position: absolute;
  animation: spin988 2s linear infinite;
  bottom: 0;
  right: 0;
  margin-bottom: 22px;
  margin-right: 15px;
}

.loader .circle {
  /* --color: #fff; */
  --dim: 0.75rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

.fbhj{
  color: #ffe5c686;
}

.auth-input{
  border: 0.5px solid #4FA531;
}