.left {
    border-radius: 20px 20px  20px 0;
}

.right {
    border-radius: 20px 20px 0 20px;
}

.headt{
    font-size: 12px;
}

.chats{
    font-size: 14px;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2.2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  /* stroke: black; */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.input {
    background: none;
    border: 1px solid #a86b48 ;
    outline: none;
    /* margin-top: 10px; */
    width: 100%;
    padding: 10px 60px 10px 20px ;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: inset 2px 2px 10px #a86b48;
    color: black;
    height: 60px;
    caret-color: #a86b48;
  }

  .input::placeholder{
    color: #a86b48;
  }

  .textarea-container {
    position: relative;
  }
  
  .go {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px; 
    height: 30px; 
    background: #a86b48;
    margin-bottom: 20px;
    margin-right: 12px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .fixed-container {
    position: fixed;
    bottom: 0;
    width: 77%;
    /* background: #F7F1ED; */
    padding-bottom: 10px;
  }

  /* Mobile Phones */
  @media only screen and (max-width: 767px) {
    
    .fixed-container {
      width: 90%;
      margin-left: -11px;
    }
    .input{
      height: 50px;
    }
    .go{
      margin-bottom: 15px;
    }

  }

  /* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fixed-container {
    padding-bottom: 30px;
    width: 83%;

  }
}



body, html{
  overflow-y: hidden;
}